body {
	padding:30px;
}
.jumbotron {
	margin-top:30px;
	text-align: center;
}

element.style {
    margin-top: 30px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    margin-left: 1em;
}
p:hover {
	background-color: yellow;
}